<div id="content">
  <h2>Das Objekt </h2>
  <p>﻿Zuhause Mitten-in-Frankfurt.
    In der Mitte Frankfurts entsteht eine kleine Wohnanlage mit besonderen Qualitäten für Menschen, die wissen was sie wollen. Die Gebäude bieten neben einer durchdachten Architektur und dem damit verbundenen Flair auch eine Ausstattung,
    die das Leben angenehm macht. Ob charmante Galeriewohnung mit Dachterrasse oder intelligent geschnittene 3- und
    4-Zimmerwohnungen mit Sonnenbalkon – hier können Sie Ihre ganz persönliche Wohnidee realisieren.</p>

  <p><a href="/assets/img/objekt/02.jpg"rel="lightbox[objekt]"><img  src="/assets/img/objekt/02_th.jpg" class="img_3er_1"  alt="" /></a><a href="/assets/img/objekt/01.jpg"rel="lightbox[objekt]"><img  src="/assets/img/objekt/01_th.jpg" class="img_3er_2"  alt="" /></a></p>
  <p style="clear:both">&nbsp;
  </p>
  <p><a routerLink="/wohnungen" href="/wohnungen">Hier geht es zu den Wohnungen.</a>
  </p>

</div>
