<header>
  <div id="navi">
    <ul id="Navigation">
      <li><a id="lage" routerLink="lage" href="/lage">Lage</a></li>
      <li><a id="objekt" routerLink="objekt" href="/objekt">Objekt</a></li>
      <li><a id="wohnungen" routerLink="wohnungen" href="/wohnungen">Wohnungen</a></li>
      <li><a id="ausstattung" routerLink="ausstattung" href="/ausstattung">Ausstattung</a></li>
      <li><a id="kontakt" routerLink="kontakt" href="/kontakt">Kontakt</a></li>
      <li><a id="finanzierung" routerLink="finanzierung" href="/finanzierung">Finanzierung</a></li>
    </ul>
  </div>
  <div id="branding" >
    <h1 style="cursor: pointer;" routerLink="/" >Mitten in Frankfurt – Eigentumswohnungen in Frankfurt Bockenheim</h1>
    <blockquote>
      in Ihrer nächsten Nachbarschaft, der Rödelheimer Landstraße entstehen ab Sommer diesen Jahres sehr schöne,
      hochwertige Eigentumswohnungen für Kapitalanleger und Selbstnutzer.<br /><br />
      Die eleganten Wohnungen werden mit grosse Preis-Leistungsverhältnis.
    </blockquote>
  </div>
</header>
