<div id="content">
  <h2>Die Wohnungen </h2>
  <p> In unserem Projekt Mitten-in-Frankfurt entstehen verschiedene Wohnungsgrößen und Grundrisse von 3 und 4 Zimmern und von ca. 82 m<sup>2</sup> bis über 128 m<sup>2</sup> Wohnfläche. Die dargestellten Grundrisse sollen Ihnen einen Eindruck über die Aufteilungen und eine mögliche Möblierung geben.</p>
  <p>Die Erdgeschosswohnungen verfügen mit ihren eigenen Gärten über ein  Detail, das besonders Familien mit Kindern
    und Gartenliebhabern gefallen wird. Wer lieber höher hinaus möchte, bekommt bei allen Wohnungen einen schönen Balkon oder eine
    große Dachterrasse zum Sonnen und Entspannen. </p>

  <p style="clear:both;"><a title="Großzügiges Wohnen mit Flair" href="/assets/img/objekt/03.jpg" rel="lightbox[objekt]"><img src="/assets/img/objekt/03_th.jpg" class="img_3er_1"  alt="" /></a><a title="Großzügiges Wohnen mit Flair" href="/assets/img/objekt/04.jpg" rel="lightbox[objekt]"><img src="/assets/img/objekt/04_th.jpg" class="img_3er_2" alt="" /></a></p>

  <p style="clear:both;">&nbsp;</p>


  <p-accordion>
    <p-accordionTab header="Header 1">
      Content 1
    </p-accordionTab>
    <p-accordionTab header="Header 2">
      Content 2
    </p-accordionTab>
    <p-accordionTab header="Header 3">
      Content 3
    </p-accordionTab>
  </p-accordion>

  <div id="accordion">

    <h3><a href="#">3-Zimmer Wohnungen</a></h3>
    <div>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td class="td_1" style="border:none;padding:0">&nbsp;</td>
          <td class="td_2" style="border:none;padding:0"><strong>Lage</strong></td>
          <td class="td_3" style="border:none;padding:0"><strong>Wohnung</strong></td>
          <td class="td_4" style="border:none;padding:0"><strong>Quadratmeter</strong></td>
          <td class="td_5" style="border:none;padding:0">&nbsp;</td>
        </tr>
        <tr>
          <td><a href="/assets/img/wohnungen/VH1.jpg" title="3-Zimmer Wohnungen" rel="lightbox[wohn-3z]"><img src="/assets/img/wohnungen/thump/VH1_th.jpg" alt="frankfurt" width="94" height="65"/></a></td>
          <td>EG	</td>
          <td>VH1</td>
          <td>95,37 m<sup>2</sup></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="/assets/img/wohnungen/VH2.jpg" title="3-Zimmer Wohnungenen" rel="lightbox[wohn-3z]"><img src="/assets/img/wohnungen/thump/VH2_th.jpg" alt="frankfurt" width="94" height="65"/></a></td>
          <td>1.OG<br />
            2.OG<br />
            3.OG<br />
            4.OG</td>
          <td>VH2<br />
            VH4<br />
            VH6<br />
            VH8</td>
          <td>88,04 m<sup>2</sup><br />
            88,04 m<sup>2</sup><br />
            88,04 m<sup>2</sup><br />
            88,04 m<sup>2</sup></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="/assets/img/wohnungen/VH5.jpg" title="3-Zimmer Wohnungen" rel="lightbox[wohn-3z]"><img src="/assets/img/wohnungen/thump/VH5_th.jpg" alt="frankfurt" width="94" height="65"/></a></td>
          <td>2.OG<br />
            3.OG<br />
            4.OG</td>
          <td>VH5<br />
            VH7<br />
            VH9</td>
          <td>87,38 m<sup>2</sup><br />
            87,38 m<sup>2</sup><br />
            87,38 m<sup>2</sup></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><a href="/assets/img/wohnungen/HH13.jpg" title="3-Zimmer Wohnungen" rel="lightbox[wohn-3z]"><img src="/assets/img/wohnungen/thump/HH13_th.jpg" alt="frankfurt" width="94" height="65"/></a></td>
          <td>1.OG</td>
          <td>HH13</td>
          <td>82,19 m<sup>2</sup></td>
          <td>&nbsp;</td>
        </tr>

      </table>
    </div>

    <h3><a href="#">4-Zimmer Wohnung – Galerie</a></h3>
    <div>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td class="td_1" style="border:none;padding:0">&nbsp;</td>
          <td class="td_2" style="border:none;padding:0"><strong>Lage</strong></td>
          <td class="td_3" style="border:none;padding:0"><strong>Wohnung</strong></td>
          <td class="td_4" style="border:none;padding:0"><strong>Quadratmeter</strong></td>
          <td class="td_5" style="border:none;padding:0">&nbsp;</td>
        </tr>
        <tr>
          <td><a href="/assets/img/wohnungen/VH10.jpg" title="4-Zimmer Wohnung Galerie" rel="lightbox[wohn-4z]"><img src="/assets/img/wohnungen/thump/VH10_th.jpg" alt="frankfurt" width="94" height="65"/></a></td>
          <td>DG + <br />
            Galerie</td>
          <td>VH10</td>
          <td>DG 79,60 m<sup>2</sup><br />
            Galerie 45,05 m<sup>2</sup><br />
            <strong>gesamt 124,65 m<sup>2</sup></strong></td>
          <td>&nbsp;</td>
        </tr>

      </table>
    </div>

    <h3><a href="#">4-Zimmer Wohnung</a></h3>
    <div>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td class="td_1" style="border:none;padding:0">&nbsp;</td>
          <td class="td_2" style="border:none;padding:0"><strong>Lage</strong></td>
          <td class="td_3" style="border:none;padding:0"><strong>Wohnung</strong></td>
          <td class="td_4" style="border:none;padding:0"><strong>Quadratmeter</strong></td>
          <td class="td_5" style="border:none;padding:0">&nbsp;</td>
        </tr>
        <tr>
          <td><a href="/assets/img/wohnungen/HH12.jpg" title="4-Zimmer Wohnung" rel="lightbox[wohn-4z]"><img src="/assets/img/wohnungen/thump/HH12_th.jpg" alt="frankfurt" width="94" height="65"/></a></td>
          <td>EG+GG	</td>
          <td>HH12</td>
          <td>EG 78,16 m<sup>2</sup><br />
            GG 50,60 m<sup>2</sup><br />
            <strong>gesamt 128,76 m<sup>2</sup></strong></td>
          <td>&nbsp;</td>
        </tr>

      </table>
    </div>

    <h3><a href="#">4-Zimmer Wohnung – Maisonette</a></h3>
    <div>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td class="td_1" style="border:none;padding:0">&nbsp;</td>
          <td class="td_2" style="border:none;padding:0"><strong>Lage</strong></td>
          <td class="td_3" style="border:none;padding:0"><strong>Wohnung</strong></td>
          <td class="td_4" style="border:none;padding:0"><strong>Quadratmeter</strong></td>
          <td class="td_5" style="border:none;padding:0">&nbsp;</td>
        </tr>
        <tr>
          <td><a href="/assets/img/wohnungen/HH14.jpg" title="4-Zimmer Wohnung Maisonette" rel="lightbox[wohn-4z]"><img src="/assets/img/wohnungen/thump/HH14_th.jpg" alt="frankfurt" width="94" height="65"/></a></td>
          <td>2.OG+DG	</td>
          <td>HH14 </td>
          <td>2.OG 63,05 m<sup>2</sup><br />
            DG 53,60 m<sup>2</sup><br />
            <strong>gesamt 116,65 m<sup>2</sup></strong></td>
          <td>&nbsp;</td>
        </tr>
      </table>

    </div>

    <p style="width:690px; display:block;border-top:#c6c6c6 solid 1px;">&nbsp;</p>
  </div>

  <p style="padding-top:10px;"><a routerLink="/ausstattung" href="/ausstattung">Wenn Sie sich für die Ausstattung der Wohnungen interessieren, können Sie hier einen ersten <br />
    Einblick bekommen.</a></p>

</div>
