<div id="content">
  <h2>Finanzierung</h2>
  <p>Ein gutes Immobilieninvestment steht auf einer soliden Finanzierung. Wir haben in den vergangen Jahren sehr gute Erfahrungen mit dem Immobilienfinanzierer Hüttig & Rompf AG gemacht und können Ihnen diesen empfehlen.</p>
  <p>Zu dem Projekt Mitten-in-Frankfurt liegen der Hüttig & Rompf AG bereits alle Beleihungsunterlagen des Angebotes vor, wodurch Sie sehr schnell und unkompliziert Ihr persönliches Angebot erhalten können.</p>
  <p>Auf Wunsch wird Ihnen Herr Benjamin Hauptmann gerne bei der Erstellung Ihrer Finanzierung zur Seite stehen.</p>
  <p>Benjamin Hauptmann<br >
    Borsigallee 19<br >
  60388 Frankfurt<br>
    Telefon 069-94 14 17-23<br>
    <a href="mailto:bhauptmann@huettig-rompf.de">bhauptmann@huettig-rompf.de</a><br >
    <a href="http://www.huettig-rompf.de" target="_blank">www.huettig-rompf.de</a><br >
  </p>

</div>