<div id="content">
  <h2>Die Lage</h2>
  <p>﻿Lebensqualität, urbanes Flair, wohlfühlen, in Bockenheim ist man zuhause!<br />
    Als einer der ältesten und beliebtesten Stadtteile Frankfurts bietet Bockenheim nicht nur die Nähe zur Innenstadt und eine sehr gute Anbindung,
    sondern begeistert durch seine besondere Atmosphäre.<br />
    <br /></p>
  <p style="margin:0;"><img class="img_3er_1" src="/assets/img/lage/frankfurt.jpg" width="220" height="153" alt="" /><a href="/assets/img/lage/plan-gr.jpg" rel="lightbox"><img class="img_3er_2" src="/assets/img/lage/plan_text.gif" width="220" height="153" alt="" /></a><img class="img_3er_2" src="/assets/img/lage/lage_07_th.jpg" width="220" height="153" alt="" /></p>
  <p><img src="/assets/img/lage/lage_04_th.jpg" alt="" width="220" height="153" class="img_3er_1" /><img src="/assets/img/lage/plan.jpg" alt="" width="220" height="153" class="img_3er_2" /><img src="/assets/img/lage/lage_02_th.jpg" alt="" width="220" height="153" class="img_3er_2" /></p>
  <p><img src="/assets/img/lage/lage_03_th.jpg" alt="" width="220" height="153" class="img_3er_1" /><img src="/assets/img/lage/garten.jpg" alt="" width="455" height="153" class="img_3er_2" /></p>


  <p style="clear:both;">
    <a  routerLink="/objekt" href="/objekt"><br />
      Wenn Ihnen die gute Lage gefällt, lohnt es sich hier einen Blick auf das Objekt zu werfen.</a></p>
</div>