<div id="content">
  <h2>Die Ausstattung</h2>

  <p>Beim Innenausbau der Wohnungen kommen hochwertige Materialien zum Einsatz. In allen Räumen der Wohnungen wird Parkettboden verlegt. Küchen, Bäder und WCs erhalten einen Belag aus Keramikfliesen. Die Wände werden verputzt oder gespachtelt ausgeführt, die Innenfensterbänke bestehen aus Granit. In den Penthäusern kann als Sonderwunsch ein Kamin oder Kachelofen eingebaut werden. Für Schalter und Steckdosen in den Wohnungen kommen Elemente der Firma Gira zum Einsatz.</p>

  <p>Die Fenster sind Marken-Kunststoff-Fenster mit Dreifach-Wärmeschutz-Verglasung. Sie erhalten in den Wohnungen hochschiebegesicherte, elektrische Rollläden. In den Penthäusern werden die 3 Meter breiten Fenstertürelemente, die auf die Dachterrassen führen, als Schiebetüren ausgeführt. Die mit einer Dreifachverriegelung ausgestatteten Haustüranlagen werden videoüberwacht und mit Gegensprechanlagen ausgerüstet. Die Wohnungseingangstüren mit 42 dB Schallschutz werden in eine einbruchhemmende Stahlzarge eingebaut und erhalten eine tresorartige Dreifach-Zapfenverriegelung der Sicherheitsklasse WK2. Passend zu den Türen und Bodenbelägen werden Holz-Sockelleisten angebracht.</p>

  <p>Als Sanitärobjekte werden in den Bädern Einbauwannen und Armaturen von deutschen Markenherstellern eingebaut. Die Duschen werden ohne Duschwanne bodengleich gefliest. Die Erd- und Dachgeschosswohnungen erhalten jeweils einen frostsicheren Wasseranschluss an der jeweiligen Außenwand.</p>

  <p>Die Beheizung der Wohnungen erfolgt über eine Fußbodenheizung mit Einzelraumsteuerung. Jede Wohnung wird mit einer dezentralen Wohnraumlüftung mit Wärmerückgewinnung ausgestattet. Die Wärmelieferung erfolgt über eine Holz-Pellet-Heizung mit zentraler Warmwasserversorgung.</p>

  <p>Im Vorderhaus wird ein rollstuhlgerechter Seil- oder Hydraulikaufzug vom Keller bis zum Dachgeschoss eingebaut.</p>
  <p><a href="/assets/img/ausstattung/01.jpg" rel="lightbox[austattung]"><img src="/assets/img/ausstattung/01_th.jpg"  alt="Austattung" class="img_3er_1" /></a><a href="/assets/img/ausstattung/02.jpg" rel="lightbox[austattung]"><img src="/assets/img/ausstattung/02_th.jpg"  alt="Austattung" class="img_3er_2" /></a><a href="/assets/img/ausstattung/03.jpg" rel="lightbox[austattung]"><img src="/assets/img/ausstattung/03_th.jpg"  alt="Austattung" class="img_3er_2" /></a></p>
  <p><a href="/assets/img/ausstattung/04.jpg" rel="lightbox[austattung]"><img src="/assets/img/ausstattung/04_th.jpg"  alt="Austattung" class="img_3er_1" /></a><a href="/assets/img/ausstattung/05.jpg" rel="lightbox[austattung]"><img src="/assets/img/ausstattung/05_th.jpg"  alt="Austattung" class="img_3er_2" /></a><a href="/assets/img/ausstattung/06.jpg" rel="lightbox[austattung]"><img src="/assets/img/ausstattung/06_th.jpg"  alt="Austattung" class="img_3er_2" /></a></p>

  <p style="clear:both;">&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p><a routerLink="/kontakt" href="/kontakt">Wir freuen uns darauf, Ihre Fragen zu beantworten!</a></p>

</div>
	