<div id="content">

  <img src="/assets/img/mitten-in-frankfurt.gif" width="690" height="522" />

  <p>&nbsp;</p>

  <h4>Herzlich willkommen Mitten-in-Frankfurt</h4>
  <p>Hier entstehen 14 hochwertige 3 und 4 Zimmer Eigentumswohnungen für Selbstnutzer und Kapitalanleger.<br />
    Neben der soliden Bauweise im KFW 55 Standard werden durchdachte Grundrisse, großzügige Balkone / Terrassen und eine attraktive Architektur verwirklicht. </p>
  <p>Die umfangreiche Ausstattung, der hochmoderne Niedrig­energiestandard und das besondere Flair der Wohnungen sind dabei nur einige der vielen Annehmlichkeiten dieses schönen Projektes.</p>
  <p><a  href="lage.html">Schauen Sie doch mal rein.</a></p>

</div>

<div id="left-col"> </div>
